#world-map .land {
  stroke: #777;
  stroke-width: .5px;
}

.list-inline {
  list-style: none;
}

.list-inline > li {
  display: inline-block;
}

#legend {
    padding: 1.5em 0 0 1.5em;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}
