.land {
  fill: #CCC;
  fill-opacity: 1;
  stroke: #777;
  stroke-width: .5px;
}

.land:hover{
  stroke: #666;
  stroke-width: 1.5px;
}

.list-inline {
  list-style: none;
}

.list-inline > li {
  display: inline-block;
}

.map-list {
    padding: 10px;
}

#legend {
    padding: 1.5em 0 0 1.5em;
}

li.key {
    border-left-width: 15px;
    border-left-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 10px;
    padding-right: 0;
    margin-right: 30px;
}
