<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Project Sentinel</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700italic,700' rel='stylesheet' type='text/css'>,
    <link rel="stylesheet" href="css/colorbrewer.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="css/style.css" media="screen" charset="utf-8">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="callout-title">Data Visualizations for TB Across the Globe</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-5" id="side-menu">
                <ul class="nav nav-tabs">
                    <li><a href="#map-the-gap" data-toggle="tab">Map the Gap</a></li>
                    <li><a href="#targets" data-toggle="tab">Targets</a></li>
                    <li><a href="#members" data-toggle="tab">Project Members</a></li>
                </ul>
                <div class="tab-content map-list">
                    <div role="tabpanel" class="tab-pane active" id="map-the-gap">
                        <ul class="list-unstyled">
                            <li><a id="link-reported" href="#map/reported">Reported Cases</a></li>
                            <li><a id="link-pub_mdr" href="#map/pub_mdr">Publication Documenting MDR-TB Cases</a></li>
                            <li><a id="link-pub_xdr" href="#map/pub_xdr">Publication Documenting XDR-TB Cases</a></li>
                            <li><a id="link-all_mdr" href="#map/all_mdr">All MDR-TB Data</a></li>
                            <li><a id="link-all_xdr" href="#map/all_xdr">All XDR-TB Data</a></li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="targets">
                        <ul class="list-unstyled">
                            <li><a id="link-estimated" href="#map/estimated">Estimated MDR-TB Cases</a></li>
                            <li><a id="link-eval_0" href="#map/eval_0">0-4 Year Olds: Needing Evaluation</a></li>
                            <li><a id="link-eval_5" href="#map/eval_5">5-14 Year Olds: Needing Evaluation</a></li>
                            <li><a id="link-treat_0" href="#map/treat_0">0-4 Year Olds: Needing Treatment</a></li>
                            <li><a id="link-treat_5" href="#map/treat_5">5-14 Year Olds: Needing Treatment</a></li>
                            <li><a id="link-therapy_0" href="#map/therapy_0">0-4 Year Olds: Needing Preventative Therapy</a></li>
                            <li><a id="link-therapy_5" href="#map/therapy_5">5-14 Year Olds: Needing Preventative Therapy</a></li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="members">
                        <ul class="list-unstyled">
                            <li>Sentinel Project Members</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-sm-7">
                <h3 id="map-title"></h3>
                <div id="row">
                    <div id="legend" class="legend col-sm-6"></div>
                    <div id="country-dropdown" class="col-sm-5">
                        <select name="country" id="country-select">

                        </select>
                    </div>
                <div id="world-map" class="map">
                    <% include world %>
                </div>
            </div>
        </div>
    </div>

    <div class="well hidden" id="country-info" style="position: absolute; bottom: 0; left: 10px;">
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="iframeResizer.contentWindow.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <% if (dev) { %>
        <script src="main.js"></script>
        <script src="http://localhost:9091"></script>
    <% } else { %>
        <script src="main.min.js"></script>
    <% } %>
</body>
</html>
